@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Edu+QLD+Beginner:wght@400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --azul-oscuro: #181E4B;
    --blanco: #FFFFFF;
    --rosa-oscurito: #c594aa;
    --rosa-medio: #fdcae1;
    --mostaza: #f6a700;
    --azul-oscurito: #171a4a;
    --morado-medio: #2f2c79;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#back{
    background-image: url(../../public/img/2coffee.webp)  ;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
}
body {
    position: relative;
    border: 2px solid red;
}

.header {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 5px 10px;
    position: static;


}
#logo-name{
}
#logoi{
    position: relative;
    top:-22px;
    height: 90px;
}

#main{
    margin-inline:10% ;
    background-color: var(--mostaza);
    height: calc(100vh - 100px);
    overflow-y: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.historia {
    color: antiquewhite;
    padding: 40px;

    border: 1px solid white;
}



.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px ;

}
.formulario{
    width: 80%; 
    padding: 20px;
}

.formulario label {
    display: block; 
    margin: 5px; 
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="file"],
.formulario input[list],
.formulario datalist,
.formulario textarea,
.formulario select,
.formulario button{ 
    width: 100%;
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 25px;
    border: 1px solid maroon; 
}

footer{
    width: 50px;
}