:root {}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../../public/img/coffee.webp);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(10%);
    border: 2px solid red;
}

.header {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: static;

}

.historia {
    color: antiquewhite;
    margin: 40px;

    border: 1px solid white;
}